<!-- Modal nav -->
<div id="modal-nav" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
        <!-- wrapper -->
        <div class="wrapper container-fluid">
          <!-- row -->
          <div class="row">
            <div class="col-xs-12 end-xs">
              <a class="uk-modal-close modal-close" uk-close><span class="icon icon-close" type="button"></span></a>
            </div>
          </div>
          <!-- row end -->          
          <!-- row -->
          <div class="row modal-nav middle-xs">
            <!-- col -->
            <div class="col-xs-12">
              <!-- row -->
              <div class="row center-xs">
                <!-- col -->
                <div class="col-xs-10">
                  <header>  
                    <h2>{{ site.title }}</h2>
                    <h3>{{ site.subtitle }}</h3>
                  </header>  
                  <ul class="links">
                    <li class="{% if page.url == '/' %}active{% endif %}"><a href="/">Inicio</a></li>
                    {% for post in site.pages %}
                      {% if post.url != "/" and post.title != nil %}
                        <li class="{% if post.url == page.url %}active{% endif %}"><a href="{{ post.url }}">{{ post.title }}</a></li>
                      {% endif %}
                    {% endfor %}                    
                  </ul>
                </div>
                <!-- col end -->
              </div>
              <!-- row end --> 
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
        </div>
        <!-- wrapper end -->
    </div>
</div>
<!-- Modal nav end -->