@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?crn5m3');
  src:  url('fonts/icomoon.eot?crn5m3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?crn5m3') format('truetype'),
    url('fonts/icomoon.woff?crn5m3') format('woff'),
    url('fonts/icomoon.svg?crn5m3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-hamburger-bite:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-vimeo:before {
  content: "\e903";
}
.icon-x:before {
  content: "\e904";
}
.icon-imdb:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
