@import 'variables';


// General

html{
	scroll-behavior: smooth;
	background-color: $dark;
	color: $bright;
	font-family: $paragraph;
	font-size: 1rem;
}


.inline{
	& li{
		display: inline-block;
	}
}

::selection, -moz-selection{
  color: $dark;
  background-color: $highlight;
}

h1, h2, h3, h4, h5, h6{
	color: $bright;
}

.h1-giant{
	font-size: 4.624rem;
}

p{
	color: $bright;
	font-size: 1.2rem;
	line-height: 160%;
	font-family: $paragraph;
	font-weight: $light;
}

li{
	font-size: 1.2rem;
	line-height: 175%;
	font-weight: $light;
	list-style-type: '∙';
  padding-inline-start: .5rem;
}

h1{
	font-family: $heading;
	font-size: 2.5rem;
}

h2, h3, h4, h5, h6{
	font-family: $sub-heading;
	font-weight: 400;	
}

h2{
	letter-spacing: .3rem;	
	font-size: 1.802rem;
}

h3{
	letter-spacing: .26rem;
	font-size: 1.266rem;
}

h4{
	letter-spacing: .24rem;
	font-size: 1.125rem;
}

h4{
	letter-spacing: .24rem;
	font-size: 1.125rem;
}

h5{
	letter-spacing: .24rem;
	font-size: 1rem;
}

.small{
	font-size: 0.8rem;
}

ul{
	padding: 0;
}

a{
	color: $bright;
	&:hover{
		color: $bright;
		text-decoration: none;
	}
}

.button{
	padding: .75rem 1.2rem;
	color: $dark;
	background-color: $bright;
	border: 2px solid $bright;
	display: inline-block;
	margin-bottom: 1.2rem;
	font-family: $heading;
	font-size: 1.269rem;
	transition: $transition;
	&:hover{
		color: $bright;
		background-color: $transparent;
	}
}

.button-ghost{
	background-color: $transparent;
	color: $bright;
	&:hover{
		color: $dark;
		background-color: $bright;
	}
}

// Home

.home{
	overflow: hidden;
}

// Header

.header-row{
	height: 80vh;
}

.home-title{
	font-family: $heading;
	font-optical-sizing: auto;
	font-style: normal;
	color: $bright;
	font-size: 2.625rem;
	margin: 0;
}

.home-subtitle{
	font-family: $sub-heading;
	font-weight: 400;
	font-size: 1rem;
	font-style: normal;
	letter-spacing: .4rem;
	color: $bright;
	margin: 0;
}

// Sr only

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

// Nav

.nav-xs{
	padding-top: 1.25rem;
	& li{
		margin-right: .75rem;
		font-size: 1.5rem;
		&:last-child{
			margin-right: 0;
		}
	}
	& a{
		color: $bright;
	}
	& .hamburger{
		& a{
			font-size: 2rem;
			position: relative;
			top: .25rem;
		}
	}
}

.nav-xs-inside, .nav-lg-inside{
	background-color: $dark;
}

.nav-lg{
	padding-top: 2rem;
	font-family: $heading;
	font-style: normal;
	color: $bright;
}

.left-nav{
	& li{
		margin-right: 1.5rem;
		font-size: 1.424rem;
		& a{
			color: $bright;
			border-bottom: 2px solid $transparent;
			padding-bottom: .75rem;
			transition: $transition;
			&:hover{
				text-decoration: none;
				border-bottom: 2px solid $bright;
			}
		}
	}
	& .active{
		& a{
			border-bottom: 2px solid $bright;
		}
	}
}

.right-nav{
	position: relative;
	top: -.25rem;
	& li{
		margin-right: .75rem;
		&:last-child{
			margin-right: 0;
		}
		& a{
			color: $bright;
			font-size: 1.25rem;
			color: $bright;
			border-bottom: 2px solid $transparent;
			padding-bottom: .75rem;
			transition: $transition;
			&:hover{
				text-decoration: none;
				border-bottom: 2px solid $bright;
			}
		}
	}
}

// Slideshow

.slideshow{
	position: relative;
	top: -95vh;
	z-index: -100;
}

.uk-slideshow-02{
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  & img{
  	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
  }
}

// Modal

#modal-nav, .modal-video{
	background-color: $dark;
	& .wrapper{
		background-color: $dark;
	}
}

.modal-close{
	font-size: 2rem;
	margin-top: 1.75rem;
	color: $bright;
	&:hover{
		text-decoration: none;
		color: $bright;
	} 
	& svg{
		display: none;
	}
}

// Making Stories

.making-stories{
	margin: 2.5rem 0;
	& li{
		list-style-type: '∙';
  	padding-inline-start: .5rem;
	}
	& header{
		margin-bottom: 2rem; 
		& h1, & h2{
			margin: 0;
		}
		& h1{
			margin: 0 0 .25rem 0;
		}
		& h2{
			font-size: 1.5rem;
			letter-spacing: .25rem;
		}
	}
	& .content{
		h3{
			font-size: 1.602rem;
			line-height: 1.5rem;
		}
		ul, p{
			margin-bottom: 2rem;
		}
	}
}

// Queens

.queens{
	margin: 2.5rem 0;
	& h2{
		font-size: 2rem;
		letter-spacing: .25rem;
		margin-bottom: .25rem;
		}
	& .imdb{
		position: relative;
		top: -3.5rem;
		border-bottom: 2px solid $transparent;
		padding-bottom: 1.25rem;
		transition: $transition;
		&:hover{
			border-bottom: 2px solid $bright;
		}
		.icon-imdb{
			font-size: 5rem;
			margin-right: .75rem;
			position: relative;
			top: 1.75rem;
		}
		.icon-arrow-right{
			margin-left: .75rem;
			font-size: 1.75rem;
			position: relative;
			top: .25rem;
		}
	}
	& .content{
		margin-top: .5rem;
	}
}

.button-imdb{
	padding: .25rem 1.2rem .75rem 1.2rem;
	& .icon-imdb{
		font-size: 2rem;
		margin-right: .75rem;
		position: relative;
		top: .5rem;
	}
}

// Videos

.video-gallery{
	margin-top: 4rem;
	& .wrapper{
		max-width: 1136px;
	}
	& a{
		color: $bright;
		text-decoration: none;
	}
	h4{
		margin: 0;
		font-family: $sub-heading;
		letter-spacing: .2rem;
		font-size: 1.802rem;
		border-bottom: 2px solid $transparent;
		padding-bottom: .5rem;
		transition: $transition;
		&:hover{
			border-bottom: 2px solid $bright;
		}
	}
	& figure{
		margin-bottom: 1rem;
	}
	& img{
		transition: $transition-quick;
		&:hover{
			transform: scale(1.025);
		}
	}
}

.video-wrapper{
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  & iframe{
  	position: absolute;
 	 	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.video-gallery{
	& h4{
    line-height: 1.9rem;
  }
}

.video-thumbnail{
	margin-bottom: 2rem;
}

.modal-video{
	& .content{
		margin: 4rem 0 3rem 0;
	}
	& h2{
		font-size: 1.602rem;
		letter-spacing: .25rem;
	}
}

// Modal nav

.modal-nav{
	& header{
		margin: 6rem 0 2.25rem 0;
		& h2{
			font-family: $heading;
			letter-spacing: initial;
			margin-bottom: .25rem;
			font-size: 2rem;
		}
		& h3{
			font-family: $sub-heading;
			font-size: 1rem;
			margin: 0;
		}
	}
	& .links{
		font-family: $heading;
		& li{
			list-style-type: none;
			margin-bottom: 1.25rem;
			& a{
				color: $bright;
				font-size: 1.5rem;
				border-bottom: 2px solid $transparent;
				padding-bottom: .25rem;
			}
		}
		& .active{
			& a{
				border-bottom: 2px solid $bright;
			}
		}		
	}
}

.video-content{
	margin-bottom: 3rem;
	& strong{
		font-weight: $semibold;
	}
	& em{
		color: $bright;
	}
	& a{
			border-bottom: 1px solid $bright;
			padding-bottom: .125rem;
		&:hover{
			color: $highlight;
			border-bottom: 1px solid $highlight;
			padding-bottom: .125rem;
		}
	}
}

// Contacto

.contact{
	margin-top: 3rem;
	& .h1-giant{
		font-size: 2.281rem;
	}
	& a{
		border-bottom: 2px solid $transparent;
		padding-bottom: .75rem;
		transition: $transition;
		&:hover{
			text-decoration: none;
			border-bottom: 2px solid $bright;
		}
	}
	& .social{
		& li{
			margin-right: 1rem;
			padding: 0;
		}
	}
}

:focus-visible{
	outline: 1px dashed $bright;
}

form{
	margin-bottom: 3rem;
	input, label, textarea{
		display: block;
		width: 90%;
	}
	label{
		font-weight: 600;
		font-size: 1.125rem;
		margin-bottom: .5rem;
	}
	input, textarea{
		color: $bright;
		font-size: 1.125rem;
		font-family: $paragraph;
		margin-bottom: 1.5rem;
		background-color: $dark;
		border-radius: 0;
		padding: .75rem 0;
		border: 1px solid $transparent;
		border-bottom: 1px solid $bright;
		&::placeholder{
			color: $gray-3;
			opacity: 1;
		}
	}
	& textarea{
		height: 6rem;
	}
}

.mensaje-enviado{
	margin-top: 6rem;
	& h1{
		margin-bottom: 3rem;
	}
}

.cuatro-cero{
	& h1{
		margin-top: 0;
	}
	& .h1-giant{
		margin-bottom: 0;
	}
}