@import 'variables';


// General

html{
	scroll-behavior: smooth;
	background-color: $dark;
	color: $bright;
	font-family: $paragraph;
	font-size: 1.25rem;
}


.inline{
	& li{
		display: inline-block;
	}
}

::selection, -moz-selection{
  color: $bright;
  background-color: $highlight;
}

h1, h2, h3, h4, h5, h6{
	color: $bright;
}

p{
	color: $bright;
	font-size: 1.25rem;
	font-family: $paragraph;
}

h1{
	font-family: $heading;
	font-size: 1.802rem;
}

h2{
	font-family: $sub-heading;
	font-weight: 400;
	letter-spacing: .3rem;	
	font-size: 1.802rem;
}

h3{
	font-family: $sub-heading;
	font-weight: 400;
	letter-spacing: .26rem;
	font-size: 1.419rem;
}

ul{
	padding: 0;
}

// Home

.home{
	overflow: hidden;
}

// Header

.header-row{
	height: 87vh;
}

.home-title{
	font-family: $heading;
	font-optical-sizing: auto;
	font-style: normal;
	color: $bright;
	font-size: 2.5rem;
	margin: -3rem 0 0.3rem 0;
}

.home-subtitle{
	font-family: $sub-heading;
	font-weight: 400;
	font-size: 1.4rem;
	font-style: normal;
	letter-spacing: .4rem;
	color: $bright;
	margin: 0;
}

// Sr only

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

// Nav

.nav-xs{
	padding-top: 1.25rem;
	& li{
		margin-right: .75rem;
		font-size: 1.25rem;
		&:last-child{
			margin-right: 0;
		}
	}
	& a{
		color: $bright;
	}
	& .hamburger{
		& a{
			font-size: 1.5rem;
			position: relative;
			top: .25rem;
		}
	}
}

.nav-xs-inside{
	background-color: $dark;
}

.nav-lg{
	margin-top: 2rem;
	font-family: $heading;
	font-style: normal;
	color: $bright;
}

.left-nav{
	& li{
		margin-right: 1.25rem;
		font-size: 1.125rem;
		& a{
			color: $bright;
			border-bottom: 2px solid $transparent;
			padding-bottom: .75rem;
			transition: $transition;
			&:hover{
				text-decoration: none;
				border-bottom: 2px solid $bright;
			}
		}
	}
	& .active{
		& a{
			border-bottom: 2px solid $bright;
		}
	}
}

.right-nav{
	position: relative;
	top: -.25rem;
	& li{
		margin-right: .75rem;
		&:last-child{
			margin-right: 0;
		}
		& a{
			color: $bright;
			font-size: 1.25rem;
			color: $bright;
			border-bottom: 2px solid $transparent;
			padding-bottom: .75rem;
			transition: $transition;
			&:hover{
				text-decoration: none;
				border-bottom: 2px solid $bright;
			}
		}
	}
}

// Slideshow

.slideshow{
	position: relative;
	top: -100vh;
	z-index: -100;
}

.uk-slideshow-01{

}

.uk-slideshow-02{
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  & img{
  	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
  }
}

// Modal

#modal-nav{
	background-color: $dark;
	& .wrapper{
		background-color: $dark;
	}
}

.modal-close{
	font-size: 1.5rem;
	margin-top: 1.75rem;
	color: $bright;
	&:hover{
		text-decoration: none;
		color: $bright;
	} 
	& svg{
		display: none;
	}
}

// Making Stories

.making-stories{
	margin: 2.5rem 0;
	& li{
		list-style-type: '∙';
  	padding-inline-start: .5rem;
	}
	& header{
		margin-bottom: 2rem; 
		& h1, & h2{
			margin: 0;
		}
		& h1{
			margin: 0 0 .25rem 0;
		}
		& h2{
			font-size: 1.266rem;
			letter-spacing: .2rem;
		}
	}
	& .content{
		h3{
			line-height: 1.5rem;
		}
		ul, p{
			margin-bottom: 2rem;
		}
	}
}