// Drama Queen
// Design: Carlos Carrillo and Alejandro Narváez
// Development. Fluorescente.
// github: @fluorescente
// fluorescente.design

// Variables:

// Color variables
$bright: #ffffff;
$dark: #000000;
$gray-1: #F7F7F7;
$gray-2: #C6C6C6;
$gray-3: #949494;
$gray-4: #636363;
$gray-5: #313131;
$highlight: #9FD8D8;

$transparent: rgba(0,0,0,0);

// Transform variables

$transition: .7s ease;
$transition-quick: .4s ease;

// Font variables

$heading: 'miller-banner-bold', serif;
$sub-heading: 'Bebas Neue', sans-serif;
$paragraph: "Source Serif 4", serif;

$bold: 700;
$semibold: 600;
$light: 300;

