// La tienda marciana
// Design and development. Fluorescente.
// github: @fluorescente
// fluorescente.design

// Variables:

// Color variables
$bright: #ffffff;
$dark: #000000;
$gray-1: #C4BFB0;
$gray-2: #9E9787;
$gray-3: #7C7563;
$gray-4: #5E5846;
$gray-5: #453F2C;
$highlight: #788F8F;

$transparent: rgba(0,0,0,0);

// Transform variables

$transition: .7s ease;
$transition-quick: .4s ease;

// Font variables

$heading: 'miller-banner-bold', serif;
$sub-heading: 'Bebas Neue', sans-serif;
$paragraph: "Cardo", serif;

