<!DOCTYPE html>
<html class="home-html" lang="{{ page.lang | default: site.lang | default: "es" }}">

	{%- include head.html -%}

	<body class="home">

		<div class="nav-home">
		{% include nav-xs.html%}	
		{% include nav-lg.html%}
		</div>

		{% include slideshow-lito.html%}

	    <!-- heading -->
	    <div class="big-heading">
	    	<div class="vertical-center">
				<h1 class="home-title">{{ page.title }}</h1>
				<h2 class="home-subtitle">{{ page.subtitle }}</h2>
	    	</div>
	    </div>
	    <!-- heading end -->

	    {% include modal-nav.html%}

	    {% include footer.html%}
	</body>

</html>