<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body>

		<!-- nav -->
		<nav class="desktop-nav">
			<!-- wrapper -->
			<div class="wrapper container-fluid">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-xs-6 start-xs">
						<ul>
							<li><a href="#">Inicio</a></li>
							<li><a href="#">Making Stories</a></li>
							<li><a href="#">Queens</a></li>
							<li><a href="#">Videos</a></li>
							<li><a href="#">Colaboradores</a></li>
						</ul>
					</div>
					<!-- col end -->
					<!-- col -->
					<div class="col-xs-6 end-xs">
						<ul>
							<li><a href="#">X</a></li>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">Vimeo</a></li>
						</ul>
					</div>
					<!-- col end -->					
				</div>
				<!-- row end -->
			</div>
			<!-- wrapper end -->
		</nav>
    <!-- nav end -->

    <section class="header">
    	<!-- wrapper -->
    	<div class="wrapper container-fluid">
    		<!-- row -->
    		<div class="col-xs-12 center-xs">
	    		<h1 class="home-title">Drama Queen</h1>
    			<h2 class="home-subtitle">Making Stories</h2>
    		</div>
    		<!-- row end -->
    	</div>
    	<!-- wrapper end -->

    </section>

	</body>

</html>