<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body>
		{% include nav-xs-inside.html%}	
		{% include nav-lg.html%}

		<!-- making-stories -->
		<div class="making-stories" uk-scrollspy="cls: uk-animation-fade; delay: 100">

			<!-- header -->
			<header>
				<!-- wrapper -->
				<div class="wrapper container-fluid">
					<!-- row -->
					<div class="row">
						<!-- col -->
						<div class="col-xs-12">
							<h1>{{ page.heading }}</h1>
							<h2>{{ page.title }}</h2>	
						</div>
						<!-- col end -->
					</div>
					<!-- row end -->
				</div>
				<!-- wrapper end -->
			</header>
			<!-- header end -->

			<!-- content -->
			<section class="content">
				<!-- wrapper -->
				<div class="wrapper container-fluid">
					<!-- row -->
					<div class="row">
						{% for cosa in site.cosas %}
							<!-- col -->
							<div class="col-xs-12 col-sm-6">
								<h3>{{ cosa.title }}</h3>
								{{ cosa.content }}
							</div>
							<!-- col end -->
						{% endfor %}
					</div>
					<!-- row end -->
				</div>
				<!-- wrapper end -->
			</section>
			<!-- content end -->

		</div>
		<!-- making-stories end -->

		{% include modal-nav.html%}

	</body>

</html>		