<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body>
		{% include nav-xs-inside.html%}	
		{% include nav-lg-inside.html%}

		<div class="queens" uk-scrollspy="cls: uk-animation-fade; delay: 100">
			<!-- wrapper -->
			<div class="wrapper container-fluid">
				<!-- row -->
				<!-- row -->
					<div class="row">
						{% for queen in site.queens %}
							<!-- col -->
							<div class="col-xs-12 col-lg-6 queen-imdb">
								<h2>{{ queen.title }}</h2>
								<a href="{{ queen.imdb }}" class="class button button-ghost button-imdb"><span class="icon icon-imdb"></span> {{ queen.imdb-button }}</a>
								<div class="content">
									{{ queen.content }}
								</div>
							</div>
							<!-- col end -->
						{% endfor %}
					</div>
					<!-- row end -->
			</div>
			<!-- wrapper end -->
		</div>

		{% include modal-nav.html%}

	</body>

</html>		