    <!-- slideshow -->
    <div class="slideshow">
    	<!-- wrapper -->
    	<div class="wrapper">
    		<!-- row -->
    		<div class="row slideshow-arriba bottom-xs">
    			<!-- col -->
    			<div class="col-xs-12">
			    	<!-- uikit-slideshow 01 -->
						<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 3000; pause-on-hover: false; ratio: 1440:450">
						    <div class="uk-slideshow-items">
							        <div>
							            <img src="/assets/images/home-slideshow/viuda-arriba-desk.jpg" alt="" uk-cover>
							        </div>
							        <div>
							            <img src="/assets/images/home-slideshow/monja-arriba-desk.jpg" alt="" uk-cover>
							        </div>
							        <div>
							            <img src="/assets/images/home-slideshow/gafitas-arriba-desk.jpg" alt="" uk-cover>
							        </div>
						    	</div>
							</div>			
					<!-- uikit-slideshow-01-end -->     				
    			</div>
    			<!-- col end -->
    		</div>
    		<!-- row end -->

    		<!-- row -->
    		<div class="row slideshow-abajo top-xs">
    			<!-- col -->
    			<div class="col-xs-12">
			    	<!-- uikit-slideshow 02 -->
						<div class="uk-position-relative uk-visible-toggle uk-light uk-slideshow-02" tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 3000; pause-on-hover: false; ratio: 1440:450">
						    <div class="uk-slideshow-items">
						        <div>
						            <img src="/assets/images/home-slideshow/gafitas-abajo-desk.jpg" alt="" uk-cover>
						        </div>
						        <div>
						            <img src="/assets/images/home-slideshow/monja-abajo-desk.jpg" alt="" uk-cover>
						        </div>
						        <div>
						            <img src="/assets/images/home-slideshow/viuda-abajo-desk.jpg" alt="" uk-cover>
						        </div>
						    </div>
						</div>			
					<!-- uikit-slideshow-02-end -->     				
    			</div>
    			<!-- col end -->
    		</div>
    		<!-- row end -->

    	</div>
    	<!-- wrapper-end -->		
    </div>
    <!-- slideshow end -->