<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body>
		{% include nav-xs-inside.html%}	
		{% include nav-lg.html%}

		<section class="video-gallery">
			<!-- wrapper -->
			<div class="wrapper container-fluid">
				<!-- row -->
				<div class="row">
					<!-- col -->
					<div class="col-xs-12 col-sm-6 col-lg-4">
						<a href="">
							<figure>
								<img src="/assets/images/home-slideshow/viuda-arriba-xs.jpg" alt="">
							</figure>
							<h4>No se lo digas a nadie trailer 2019</h4>
						</a>
					</div>
					<!-- col end -->
				</div>
				<!-- row end -->
			</div>
			<!-- wrapper end -->
		</section>

		{% include modal-nav.html%}

	</body>

</html>		